<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/about.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="stylesheets/header.css">
</head>
	<div class="header" id="header">
			<div class="row">
				<div class="row_left">
					<img src="images/index/header/hd1.png" alt="">
				</div>
				<div class="row_right">
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/shop">SHOP</a></li>
						<li><a href="/shopDetail">SHOP DETAIL</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/contact">CONTACT</a></li>
					</ul>
				</div>
				<div class="row_hamburger">
					<div></div>
				</div>
			</div>
	</div>
	<div class="AboutUs" style="margin-top:75px; ">
		<div class="banner_text">
			<h2>About Us</h2>
			<p><a href="#">Homepage</a>丨<a href="#">About Us</a></p>
		</div>
	
		<img src="images/about_img/about_sub_bg.png" alt="" class="aboutImgBg">
	</div>
	<div class="content wrap">
			<div class="sideBar">
				<div class="sideBar_left fl">
					<div class="img">
						<img src="images/about_img/video.jpg" alt="">
					</div>
					<div class="top" id="top"></div>
					<div class="sub" id="sub"></div>
				</div>
				<div class="sideBar_right fl" id="sideBar_right">
					<b></b>
					<h3>Our Story of Success</h3>
					<i></i>
					<p id="text">Detox waters are all the rage now, and for good reason. Your body needs to be well hydrated at all times, and this is especially true when you’re on a detox. Proper water intake insures you’re flushing away released toxins, and helps your internal organs function in top form. For an ideal lemon water detox, no weight-loss elixir can compare to this zesty potion.</p>
					<strong>
						“The type of weight you lose more important than just general weight loss ”
					</strong>
					<p>Lose the fat while keeping your muscles strong with these fat burning detox waters. They’re specifically created to target fat burning while keeping you well hydrated, alert, and ready for the day.</p>
				</div>
			</div>
			<div class="column container" id="list_content">
				<ul class="row" id="row">
					<li class="col-md-4 col-sm-6">
						<div class="pic" class="sql_img"><img alt=""></div>
						<a href="#"></a>
						<p></p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img alt=""></div>
						<a href="#"></a>
						<p></p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img alt=""></div>
						<a href="#"></a>
						<p></p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img alt=""></div>
						<a href="#"></a>
						<p></p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img></div>
						<a href="#"></a>
						<p></p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img></div>
						<a href="#"></a>
						<p></p>
					</li>
				</ul>
			</div>
	</div>
	<div class="peopleShow">
			<div class="pic pic1">
				<img src="images/about_img/show1.png" alt="">
			</div>	
			<div class="peopleCon container" id="peopleCon">
				<div class="row">
					<div class="col-xs-11 content">
						<div class="fiexBox">
							<ul  id="peopleDes">
								<li class="li"><div><img src="images/about_img/t1.jpg" alt=""></div>

								</li>
								<li class="li"><div><img src="images/about_img/t2.jpg" alt=""></div>

								</li>
								<li class="center li"><div><img src="images/about_img/t2.jpg" alt=""></div>
									<h3>John Francis Doe</h3>
									<h4>BARTENDER</h4>
									<ul>
										<li><a href="#"><i class=" icon-facebook"></i></a></li>
										<li><a href="#"><i class=" icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-google-plus"></i></a></li>
									</ul>
								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>

								</li>
								<li  class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>

								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>

								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>

								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>
		
								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>
	
								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>
				
								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>
			
								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>
						
								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div></li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>
									
								</li>
								<li class="li"><div><img src="images/about_img/t3.jpg" alt=""></div>
								
								</li>
<!-- 								<li >
									<img src="images/about_img/t1.jpg" alt="" id="ative">
									<h3>John Francis Doe</h3>
									<h4>BARTENDER</h4>
									<ul>
										<li><a href="#"><i class=" icon-facebook"></i></a></li>
										<li><a href="#"><i class=" icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-google-plus"></i></a></li>
									</ul>
								</li> -->
								
							</ul>
						</div>
						<a href="javascript:void();" class="prev btnS" id="prev"><</a>
						<a href="javascript:void();" class="next btnS" id="next">></a>
					</div>
				</div>
			</div>
			<div class="pic pic2">
				<img src="images/about_img/show2.png" alt="">
			</div>
	</div>
	<div class="footer">
			<div class="footer_top">
				<div class="footerToprow">
					<div class="footer_logo">
						<a href="">
							<img src="images/index/header/ft1.png" alt="">
						</a>
					</div>
					<div class="footer_text">
						<div class="ft1">
							<p>Knowledge is power, and these detox diet tips and guides provide you with the information you need to start things off the right way and stick with it to success. From learning the basics to getting down to the nitty gritty of sugar addition and food additives, it’s all here for you</p>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="ft2">
							<h3 class="title_text">WORK TIME</h3>
							<div class="main_time">
								<span class="left">Monday - Friday</span>
								<span class="right">09:00 - 23:00</span>
							</div>
							<div class="main_time">
								<span class="left">Saturday - Sunday</span>
								<span class="right">11:00 - 23:00</span>
							</div>
							<h3 class="title_text title_margin">SUBSCRIBE TO OUR NEWS</h3>
							<form action="">
								<input type="text" placeholder="Your email" class="input_email">
								<input type="button" value="SUBMIT" class="input_submit">
							</form>
						</div>
						<div class="ft3">
							<h3 class="title_text">MENU CATEGORIES</h3>
							<p>Detox Desserts</p>
							<p>Detox Drinks</p>
							<p>Detox Smoothies</p>
							<p>Detox Tea</p>
							<p>Detox Waters</p>
							<p>Detox Recipes</p>
						</div>
						<div class="ft4">
							<h3 class="title_text">QUICK LINKS</h3>
							<p><a href="">Home</a></p>
							<p><a href="">About</a></p>
							<p><a href="">Menu</a></p>
							<p><a href="">Pages</a></p>
							<p><a href="">Blog</a></p>
							<p><a href="">Contact</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom">© 2017 All Rights Reserved.</div>
	</div>
	<script src="javascripts/shop-and-about.js"></script>
	<script src="javascripts/header.js"></script>
</body>
</html>