<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>contact</title>
	<link rel="stylesheet" href="stylesheets/contact.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/header.css">
	<!-- <link rel="stylesheet" href="bootstrap/css/font-awesome.min.css"> -->
	<script src="javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header" id="header">
			<div class="row">
				<div class="row_left">
					<img src="images/index/header/hd1.png" alt="">
				</div>
				<div class="row_right">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">ABOUT</a></li>
						<li><a href="">SHOP</a></li>
						<li><a href="">SHOP DETAIL</a></li>
						<li><a href="">Gallery</a></li>
						<li><a href="">CONTACT</a></li>
					</ul>
				</div>
				<div class="row_hamburger">
					<div></div>
				</div>
			</div>
		</div>
		<div class="main ">
			<div class="mainTop">
				<div class="maintopContent">
					<div class="content">
						<h2>Contact Us</h2>
						<ul>
							<li><a href="#">Homepage</a></li>
							<span>|</span>
							<li class="right"><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="img"><img src="images/1.png" alt=""></div>
			</div>
			<div class="mainMain ">
				<ul class="container">
					<li class="col-md-3 col-sm-6 col-xs-6">
						<div class="content">
							<a href="#" class="glyphicon glyphicon-heart-empty">
							</a>
							<h3>Address</h3>
							<p>49 West 32nd Street, New York</p>
						</div>
					</li>
					<li class="col-md-3 col-sm-6 col-xs-6">
						<div class="content">
							<a href="#" class="glyphicon glyphicon-earphone">
							</a>
							<h3>Phone Number</h3>
							<p>123-456-7890</p>
						</div>
					</li>
					<li class="col-md-3 hidden-sm hidden-xs">
						<div class="content">
							<a href="#" class="glyphicon glyphicon-envelope">
							</a>
							<h3>Email Address</h3>
							<p>Info@gogreen.com</p>
						</div>
					</li>
					<li class="col-md-3 hidden-sm hidden-xs">
						<div class="content">
							<a href="#" class="glyphicon glyphicon-tree-conifer">
							</a>
							<h3>Free Support</h3>
							<p>We provide 24/7 support</p>
						</div>
					</li>
				</ul>
				<div class="mainmain_Bottom"></div>
			</div>
			<div class="mainBottom">
				<div class="container">
					<div class="row ">
						<input type="text" placeholder="First name" >
						<input type="text" placeholder="Email address" >
						<textarea name="textarea " id="textarea " placeholder="Write message"></textarea>
						<input type="button" value="Send Message" class="button">
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_top">
				<div class="footerToprow">
					<div class="footer_logo">
						<a href="">
							<img src="images/index/header/ft1.png" alt="">
						</a>
					</div>
					<div class="footer_text">
						<div class="ft1">
							<p>Knowledge is power, and these detox diet tips and guides provide you with the information you need to start things off the right way and stick with it to success. From learning the basics to getting down to the nitty gritty of sugar addition and food additives, it’s all here for you</p>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="ft2">
							<h3 class="title_text">WORK TIME</h3>
							<div class="main_time">
								<span class="left">Monday - Friday</span>
								<span class="right">09:00 - 23:00</span>
							</div>
							<div class="main_time">
								<span class="left">Saturday - Sunday</span>
								<span class="right">11:00 - 23:00</span>
							</div>
							<h3 class="title_text title_margin">SUBSCRIBE TO OUR NEWS</h3>
							<form action="">
								<input type="text" placeholder="Your email" class="input_email">
								<input type="button" value="SUBMIT" class="input_submit">
							</form>
						</div>
						<div class="ft3">
							<h3 class="title_text">MENU CATEGORIES</h3>
							<p>Detox Desserts</p>
							<p>Detox Drinks</p>
							<p>Detox Smoothies</p>
							<p>Detox Tea</p>
							<p>Detox Waters</p>
							<p>Detox Recipes</p>
						</div>
						<div class="ft4">
							<h3 class="title_text">QUICK LINKS</h3>
							<p><a href="">Home</a></p>
							<p><a href="">About</a></p>
							<p><a href="">Menu</a></p>
							<p><a href="">Pages</a></p>
							<p><a href="">Blog</a></p>
							<p><a href="">Contact</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom">© 2017 All Rights Reserved.</div>
		</div>
	</div>
	<script src="javascripts/header.js"></script>
</body>
</html>