<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>gallery</title>
	<!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="stylesheets/header.css">
	<link rel="stylesheet" href="stylesheets/gallery.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/jquery.sliphover.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header" id="header">
			<div class="row">
				<div class="row_left">
					<img src="images/index/header/hd1.png" alt="">
				</div>
				<div class="row_right">
					<ul>
						<li><a href="/index">Home</a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/shop">SHOP</a></li>
						<li><a href="/shopDetail">SHOP DETAIL</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/contact">CONTACT</a></li>
					</ul>
				</div>
				<div class="row_hamburger">
					<div></div>
				</div>
			</div>
		</div>
		<div class="main ">
			<div class="mainTop">
				<div class="maintopContent">
					<div class="content">
						<h2>Gallery</h2>
						<h3>Homepage | Gallery</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content_Top">
				<h3 class="title-small-bg-img">Grid Gallery</h3>
			</div>
			<div class="bottomPicture" id="container">
				<ul>
					<li>
						<a href="">
							<img src="images/index/bp1.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>" >
						</a>
					</li>
					<li>
						<a href="">
							<img src="images/index/bp2.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>" >
						</a>
					</li>
					<li>
						<a href="">
							<img src="images/index/bp3.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>" >
						</a>
					</li>
					<li>
						<a href="">
							<img src="images/index/bp4.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>" >
						</a>
					</li>
					<li>
						<a href="">
							<img src="images/index/bp5.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>" >
						</a>
					</li>
					<li>
						<a href="">
							<img src="images/index/bp6.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>" >
						</a>
					</li>
				</ul>
				<ul>
					<li><a href=""><img src="images/index/bp7.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>"></a></li>
					<li><a href=""><img src="images/index/bp8.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>"></a></li>
					<li><a href=""><img src="images/index/bp9.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>"></a></li>
					<li><a href=""><img src="images/index/bp10.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>"></a></li>
					<li><a href=""><img src="images/index/bp11.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>"></a></li>
					<li><a href=""><img src="images/index/bp12.jpg" alt="" title="<h3 style='color:yellow'>custom the caption</h3><hr/><p>with html, you can put link, button or any other element you want </p>"></a></li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="footer_top">
				<div class="footerToprow">
					<div class="footer_logo">
						<a href="">
							<img src="images/index/header/ft1.png" alt="">
						</a>
					</div>
					<div class="footer_text">
						<div class="ft1">
							<p>Knowledge is power, and these detox diet tips and guides provide you with the information you need to start things off the right way and stick with it to success. From learning the basics to getting down to the nitty gritty of sugar addition and food additives, it’s all here for you</p>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="ft2">
							<h3 class="title_text">WORK TIME</h3>
							<div class="main_time">
								<span class="left">Monday - Friday</span>
								<span class="right">09:00 - 23:00</span>
							</div>
							<div class="main_time">
								<span class="left">Saturday - Sunday</span>
								<span class="right">11:00 - 23:00</span>
							</div>
							<h3 class="title_text title_margin">SUBSCRIBE TO OUR NEWS</h3>
							<form action="">
								<input type="text" placeholder="Your email" class="input_email">
								<input type="button" value="SUBMIT" class="input_submit">
							</form>
						</div>
						<div class="ft3">
							<h3 class="title_text">MENU CATEGORIES</h3>
							<p>Detox Desserts</p>
							<p>Detox Drinks</p>
							<p>Detox Smoothies</p>
							<p>Detox Tea</p>
							<p>Detox Waters</p>
							<p>Detox Recipes</p>
						</div>
						<div class="ft4">
							<h3 class="title_text">QUICK LINKS</h3>
							<p><a href="">Home</a></p>
							<p><a href="">About</a></p>
							<p><a href="">Menu</a></p>
							<p><a href="">Pages</a></p>
							<p><a href="">Blog</a></p>
							<p><a href="">Contact</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom">© 2017 All Rights Reserved.</div>
		</div>
	</div>
	<script src="javascripts/header.js"></script>
	<script src="javascripts/gallery.js"></script>

</body>
</html>