<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> -->
	<title>Home</title>
	<link rel="stylesheet" href="stylesheets/index.css">
	<link rel="stylesheet" href="stylesheets/header.css">
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="javascripts/jquery.sliphover.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header" id="header">
			<div class="row">
				<div class="row_left">
					<img src="images/index/header/hd1.png" alt="">
				</div>
				<div class="row_right">
					<ul>
						<li><a href="/index">Home</a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/shop">SHOP</a></li>
						<li><a href="/shopDetail">SHOP DETAIL</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/contact">CONTACT</a></li>
					</ul>
				</div>
				<div class="row_hamburger">
					<div></div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="banner">
				<span class="button_left"><</span>
				<div class="banner1 banner_box" style="display:block">
					<div class="banner_content">
						<h2>38 Detox Water</h2>
						<h3>Cleanse Your Body and Mind</h3>
					</div>
				</div>
				<div class="banner2 banner_box">
					<div class="banner_content">
						<h2>50 Detox Water</h2>
						<h3>Recipes for Rapid Weight Loss</h3>
					</div>
				</div>
				<div class="banner3 banner_box">
					<div class="banner_content">
						<h2>50 Detox Water</h2>
						<h3>Recipes for Rapid Weight Loss</h3>
					</div>
				</div>


				<span class="button_right">></span>
			</div>
			<div class="home">
				<div class="home_glamorous">
					<p class="title-small-contact">CALL US FOR ORDERING 123-456-7890</p>
					<div class="wraper-our-success">
						<div class="content-our-success">
							<div class="contentLeft">
								<div class="content_green">
								<a href="">
									<img src="images/index/ct2.jpg" alt="">
								</a>
								</div>
							</div>
							<div class="contentRight">
								<h3 class="title-small-bg-img">Our Story of Success</h3>
								<p class="text-success">For an ideal lemon water detox program, no weight-loss elixir can compare to this zesty potion. It is also remarkably simple to prepare. All it takes to bring this recipe to fruition is a 12-ounce glass of water, half a ginger root knob and a freshly squeezed lemon.</p>
								<a href="" class="btn-gogreen">READ MORE</a>
							</div>
						</div>
					</div>
					<h3 class="title_glamorous">The goodness is accentuated by sheer aesthetic appeal and resulting good health is truly glamorous.</h3>
					<div class="main_glamorous">
						<div class="mG_branch">
							<div><img src="images/index/ct3.png" alt=""></div>
							<a href="">100% NATURAL</a>
							<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
						</div>
						<div class="mG_branch">
							<div><img src="images/index/ct4.png" alt=""></div>
							<a href="">ORGANIC PRODUCTS</a>
							<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
						</div>
						<div class="mG_branch">
							<div><img src="images/index/ct5.png" alt=""></div>
							<a href="">HEALTHY FOODS</a>
							<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
						</div>
						<div class="mG_branch">
							<div><img src="images/index/ct5.png" alt=""></div>
							<a href="">HEALTHY FOODS</a>
							<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
						</div>
						<div class="mG_branch">
							<div><img src="images/index/ct5.png" alt=""></div>
							<a href="">HEALTHY FOODS</a>
							<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
						</div>
						<div class="mG_branch">
							<div><img src="images/index/ct5.png" alt=""></div>
							<a href="">HEALTHY FOODS</a>
							<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="product_container">
					<div class="wraper-our-success">
						<div class="content-our-success">
							<div class="contentRight">
									<h3 class="title-small-bg-img">The Best Menu of Us</h3>
									<p class="text-success">Your body deserves the best vitamins and drinks. We provide only top quality products based on organic materials. Live long and healthy. Every Detox is filled with two pounds of organic fruits and vegetables. Freshly pressed only, that proves terms of using and keeping.</p>
									<a href="" class="btn-gogreen">READ MORE</a>
							</div>
							<div class="contentLeft">
								<div class="content_green">
									<a href="">
										<img src="images/index/ct9.jpg" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="best_product">
						<h3 class="title-small-bg-img bestH3">The Best Product of Us</h3>
						<div class="best_banner">
							<button class="button_Previous"></button>
							<button class="button_Next"></button>
							<div class="banner_wrap">
								<div class="best_banner_content">
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider" id="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<div class="slider">
										<div class="img"><img src="" alt=""></div>
										<p class="slider_money"></p>
										<p class="slider_text"></p>
									</div>
									<!-- <div class="slider">
										<div class="img"><img src="images/index/ct10.jpg" alt=""></div>
										<p class="slider_money">$16.00</p>
										<p class="slider_text">Orange and Raspberry Detox Water</p>
									</div>
									<div class="slider" id="slider">
										<div class="img"><img src="images/index/ct11.jpg" alt=""></div>
										<p class="slider_money">$20.00</p>
										<p class="slider_text">Vitamin Tangy Detox Water</p>
									</div>
									<div class="slider">
										<div class="img"><img src="images/index/ct12.jpg" alt=""></div>
										<p class="slider_money">$24.00</p>
										<p class="slider_text">Blueberry Kiwi Detox Water</p>
									</div>
									<div class="slider">
										<div class="img"><img src="images/index/ct13.jpg" alt=""></div>
										<p class="slider_money">$18.00</p>
										<p class="slider_text">Raspberry and Lemon Detox Water</p>
									</div>
									<div class="slider">
										<div class="img"><img src="images/index/ct10.jpg" alt=""></div>
										<p class="slider_money">$16.00</p>
										<p class="slider_text">Orange and Raspberry Detox Water</p>
									</div>
									<div class="slider" id="slider">
										<div class="img"><img src="images/index/ct11.jpg" alt=""></div>
										<p class="slider_money">$20.00</p>
										<p class="slider_text">Vitamin Tangy Detox Water</p>
									</div>
									<div class="slider">
										<div class="img"><img src="images/index/ct12.jpg" alt=""></div>
										<p class="slider_money">$24.00</p>
										<p class="slider_text">Blueberry Kiwi Detox Water</p>
									</div>
									<div class="slider">
										<div class="img"><img src="images/index/ct13.jpg" alt=""></div>
										<p class="slider_money">$18.00</p>
										<p class="slider_text">Raspberry and Lemon Detox Water</p>
									</div>
									<div class="slider">
										<div class="img"><img src="images/index/ct10.jpg" alt=""></div>
										<p class="slider_money">$16.00</p>
										<p class="slider_text">Orange and Raspberry Detox Water</p>
									</div>
									<div class="slider" id="slider">
										<div class="img"><img src="images/index/ct11.jpg" alt=""></div>
										<p class="slider_money">$20.00</p>
										<p class="slider_text">Vitamin Tangy Detox Water</p>
									</div>
									<div class="slider">
										<div class="img"><img src="images/index/ct12.jpg" alt=""></div>
										<p class="slider_money">$24.00</p>
										<p class="slider_text">Blueberry Kiwi Detox Water</p>
									</div>
									<div class="slider">
										<div class="img"><img src="images/index/ct13.jpg" alt=""></div>
										<p class="slider_money">$18.00</p>
										<p class="slider_text">Raspberry and Lemon Detox Water</p>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="special">
				<div class="special_wrap">
					<div class="wrap_one">
						<div class="wrap_two">
							<h3 class="title-small-bg-img">Special of Day</h3>
							<div class="special_main">
								<div class="special_img">
									<a href="">
										<img src="images/index/ct14.jpg" alt="">
									</a>
								</div>
								<div class="special_right">
									<div class="special_tea">
										<div class="tea_detail">
											<div class="main_tea">
												<h3 class="title_tea">Lemon, Orange &npm; Turmeric Tea </h3>
												<p class="text_tea">Add this delicious fruit to water and you have a super hydrating beverage for all your detox needs. It’s also high in vitamin C, which eliminates damaging free</p>
												<p class="money_tea">$19.95</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="weekend">
				<div class="weekend_main">
					<p class="smallTitle_weekend">Only this weekend</p>
					<h2 class="title_weekend">50% off on Detox Smoothies</h2>
					<p class="text_weekend">The type of weight you lose is more important than just general weight loss. Lose the fat while keeping your muscles strong with these fat burning </p>
					<a href="#" class="btn_gogreen">READ MORE</a>
				</div>
			</div>
			<div class="events">
				<div class="events_wrap">
					<h3 class="title-small-bg-img">Up Coming Events</h3>
					<div class="events_main">
						<div class="events_mid">
							<div class="img">
								<a href="">
									<img src="images/index/ct15.jpg" alt="">
								</a>
							</div>
							<a href="#" class="title_events">Pomegranate Cucumber Lemon Infused</a>
							<p class="date_events">Dec 22, 2017</p>
							<p class="text_events">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
						</div>
						<div class="events_mid">
							<div class="img">
								<a href="">
									<img src="images/index/ct16.jpg" alt="">
								</a>
							</div>
							<a href="#" class="title_events">LEMON, ORANGE AND CUCUMBER WATER</a>
							<p class="date_events">Dec 22, 2017</p>
							<p class="text_events">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
						</div>
						<div class="events_mid">
							<div class="img">
								<a href="">
									<img src="images/index/ct17.jpg" alt="">
								</a>
							</div>
							<a href="#" class="title_events">STRAWBERRY CUCUMBER LIME DETOX WATER</a>
							<p class="date_events">Dec 22, 2017</p>
							<p class="text_events">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
						</div>
					</div>
					<a href="#" class="btn_gogreen">SHOW MORE</a>
				</div>
			</div>
			<div class="bottomPicture" id="container">
				<ul>
					<li><a href=""><img src="images/index/bp1.jpg" alt=""></a></li>
					<li><a href=""><img src="images/index/bp2.jpg" alt=""></a></li>
					<li><a href=""><img src="images/index/bp3.jpg" alt=""></a></li>
					<li><a href=""><img src="images/index/bp4.jpg" alt=""></a></li>
					<li><a href=""><img src="images/index/bp5.jpg" alt=""></a></li>
					<li><a href=""><img src="images/index/bp6.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="footer_top">
				<div class="footerToprow">
					<div class="footer_logo">
						<a href="">
							<img src="images/index/header/ft1.png" alt="">
						</a>
					</div>
					<div class="footer_text">
						<div class="ft1">
							<p>Knowledge is power, and these detox diet tips and guides provide you with the information you need to start things off the right way and stick with it to success. From learning the basics to getting down to the nitty gritty of sugar addition and food additives, it’s all here for you</p>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="ft2">
							<h3 class="title_text">WORK TIME</h3>
							<div class="main_time">
								<span class="left">Monday - Friday</span>
								<span class="right">09:00 - 23:00</span>
							</div>
							<div class="main_time">
								<span class="left">Saturday - Sunday</span>
								<span class="right">11:00 - 23:00</span>
							</div>
							<h3 class="title_text title_margin">SUBSCRIBE TO OUR NEWS</h3>
							<form action="">
								<input type="text" placeholder="Your email" class="input_email">
								<input type="button" value="SUBMIT" class="input_submit">
							</form>
						</div>
						<div class="ft3">
							<h3 class="title_text">MENU CATEGORIES</h3>
							<p>Detox Desserts</p>
							<p>Detox Drinks</p>
							<p>Detox Smoothies</p>
							<p>Detox Tea</p>
							<p>Detox Waters</p>
							<p>Detox Recipes</p>
						</div>
						<div class="ft4">
							<h3 class="title_text">QUICK LINKS</h3>
							<p><a href="">Home</a></p>
							<p><a href="">About</a></p>
							<p><a href="">Menu</a></p>
							<p><a href="">Pages</a></p>
							<p><a href="">Blog</a></p>
							<p><a href="">Contact</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom">© 2017 All Rights Reserved.</div>
		</div>
	</div>
	<script src="javascripts/header.js"></script>
	<script src="javascripts/index.js"></script>
</body>
</html>