<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>shop detail</title>
	<link rel="stylesheet" href="stylesheets/shop_detail.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/shop-and-about.js"></script>
	
</head>
<body>
	<div class="banner container-fluid" id="banner">
		<div class="banner_text container">
			<h2>Iced Ginger, Orange &amp; Turmeric Tea</h2>
			<ul>
				<li class="fl"><a href="#">Homepage</a></li>
				<li class="fl">丨</li>
				<li class="fl"><a href="#">Detox tea</a></li>
				<li class="fl">丨</li>
				<li class="fl"><a href="#">Iced Ginger, Orange &amp; Turmeric Tea</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 Featured flearfix">
				<div class="title">
					<h3>Featured</h3>
					<a href="#">View Cart<span>>></span></a>
				</div>
				<div class="show flearfix">
					<i class=" icon-remove"></i>
					<div class="afterColor"><img alt=""></div>
					<p class="p1"></p>
					<p style="margin: 0 ;height: 24px; text-align: right;line-height: 24px; color: #125F06;" class="p2"></p>
				</div>
				<div class="show flearfix">
					<i class="icon-remove"></i>
					<div class="afterColor"><img alt=""></div>
					<p class="p1"></p>
					<p style="margin: 0 ;height: 24px; text-align: right;line-height: 24px; color: #125F06;" class="p2"></p>
				</div>
				<div class="wrapper-total clearfix">
					<span class="text-total fl">SUBTOTAL:</span>
					<span class="text-dola fr">$34.00</span>
				</div>
				<a href="#" id="checkOut">CHECKOUT</a>
				<div class="title Categories">
					<h3>Categories</h3>
					<ul class=" flearfix">
						<li><a href="#">Detox Drinks <i class="icon-caret-right fr"></i></a></li>
						<li><a href="#">Detox Smoothies<i class="icon-caret-right fr"></i></a></li>
						<li><a href="#">Detox Tea<i class="icon-caret-right fr"></i></a></li>
						<li><a href="#">Detox Waters<i class="icon-caret-right fr"></i></a></li>
					</ul>
				</div>
				<div class="ad_Featured">
					<div class="title">
						<h3>Featured</h3>
					</div>
					<ul>
						<li class="tea-text flearfix">
							<div class="pic picBg"><img src="images/about_img/c1.jpg" alt=""></div>
							<div class="text">
								<p class="ptext">What is Mucoid Plaque in the colon?</p>
								<p class="pcolor">Oct 28, 2017</p>
							</div>
						</li>
						<li class="tea-text">
							<div class="pic picBg"><img src="images/about_img/c2.jpg" alt=""></div>
							<div class="text">
								<p class="ptext">What is Mucoid Plaque in the colon?</p>
								<p class="pcolor">Oct 28, 2017</p>
							</div>
						</li>
						<li class="tea-text">
							<div class="pic picBg"><img src="images/about_img/c3.jpg" alt=""></div>
							<div class="text">
								<p class="ptext">What is Mucoid Plaque in the colon?</p>
								<p class="pcolor">Oct 28, 2017</p>
							</div>
						</li>
						<li class="tea-text">
							<div class="pic picBg"><img src="images/about_img/c4.jpg" alt=""></div>
							<div class="text">
								<p class="ptext">What is Mucoid Plaque in the colon?</p>
								<p class="pcolor">Oct 28, 2017</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="slidebar" id="slidebar">
					<div class="pic" id="#pic"><img src="images/about_img/bl.png" alt=""></div>
					<div class="slidebarMain">
						<h2>50% OFF ON DETOX SMOOTHIES</h2>
						<a href="#" class="more">READ MORE</a>
					</div>
				</div>
				
			</div>
			<div class="col-md-9 shopCar container">
				<div class="row">
					<div class="col-sm-4 links-pic col-xs-12">
						<img src="images/about_img/pic1.jpg" alt="">
					</div>
					<div class="col-sm-8 pic-des col-xs-12" id="pic-des" >
						<p class="slider-money">$15.00</p>
						<h3>Orange and Raspberry Detox Water</h3>
						<p class="slider-text">On hot summer days, staying hydrated is the most important step to keeping your cells healthy and running the way they should. Personally, I think water is a little boring, so I like to take summer drinks to the next level, improving their nutritional value and their flavor using healing spices and roots, fresh juices, and refreshing herbal teas.</p>
						<div class=" list-btn-shop fl">
							<button class="minus fl">-</button >
							<input type="text fr" class="showText" value="1">
							<button class="plus fr">+</button>
						</div>
						<button class="btnAdd fl">ADD TO CART</button> 
					</div>
					
				</div>
				<div class="information row " >
					<div class="col-sm-8  col-xs-offset-4" style="padding-left:0px;">
						<p>
					      	     <span>Category:</span>
						     <span class="color">Detox Tea</span>
						 </p>
						<p>
					               <span>Tags:</span>
						     <span class="color">drink,</span>
						     <span>tea, detox</span></p>
						<p><span>Product ID: 1260</span></p>
					</div>
				</div>
				<div class="Reviews row">
					<div class="col-xs-12">
						<div class="title">
							<h3>Featured</h3>
						</div>
					</div>
					<div class="col-xs-12 ReviewsPeople">
						<div class="pic">
							<img src="images/about_img/h1.jpg" alt="">
						</div>
						<div class="ReviewsBox">
							<div>
								<h4 class="fl">John Doe</h4>
								<div class="clearTop">
								<i class=" icon-star fl"></i>
								<i class=" icon-star fl"></i>
								<i class=" icon-star fl"></i>
								<i class=" icon-star fl"></i>
								<i class=" icon-star-empty fl"></i>
								</div>
								<i class=" icon-reply reoly"></i>
							</div>
							<p style="clear: both;">27 Dec 2017 at 2:30pm</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
						</div>	
					</div>
					<div class="col-xs-12 ReviewsPeople">
						<div class="pic">
							<img src="images/about_img/h2.jpg" alt="">
						</div>
						<div class="ReviewsBox">
							<div style="clear: both;">
								<h4 class="fl">Marry Doe</h4>
								<div class="clearTop">
								<i class=" icon-star fl"></i>
								<i class=" icon-star fl"></i>
								<i class=" icon-star fl"></i>
								<i class=" icon-star fl"></i>
								<i class=" icon-star-empty fl"></i>
								</div>
								<i class=" icon-reply reoly"></i>

							</div>
							<p style="clear: both;">27 Dec 2017 at 2:30pm</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
						</div>	
					</div>
					<div class="col-xs-12 Write">
						<div class="title title_long">
							<h3>WriteReview row</h3>
						</div>
						<div class="Write-put">
							<div class="Rating flearfix">
								<div class="left fl">Your Rating</div>
								<ul class="right fr">
									<li><i class="icon-star-empty"></i></li>
									<li><i class="icon-star-empty"></i><i class="icon-star-empty"></i></li>
									<li><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></li>
									<li><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></li>
									<li><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></li>
								</ul>
							</div>
							<div class="inputBox">
								<form action="" method="get" id="inputSub">
									<div class="input_text clearfix">
										<div class="left fl"><input type="text" name='text' placeholder="Type your name"></div>
										<div class="right fl"><input type="email" name='email' id="emailPut" placeholder="Type your name"></div>
									</div>
									<div class="textBox">
										<textarea name="liuyan" id="" cols="30" rows="10"></textarea>
									</div>
									<input type="submit" class="formBtn" value="Send Review">
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="Related row">
					<div class="col-xs-12 flearfix">
						<div class="title title_long">
							<h3>Related Products</h3>
						</div>
					</div>
					<ul class="list-shop row">
						<li class="col-md-4 col-xs-12 col-sm-4">
							<div class="bgColor">
								<img src="images/about_img/1.jpg" alt="" >
							</div>
							<p class="text-dola text-big">$18.00</p>
							<p class="slider-text">Raspberry , Cucumber Detox Water</p>
						</li>
						<li class="col-md-4 col-xs-12  col-sm-4">
							<div class="bgColor">
								<img src="images/about_img/2.jpg" alt="" >
							</div>
							<p class="text-dola text-big">$15.00</p>
							<p class="slider-text">Morning Cucumber Detox Water</p>
						</li>
						<li class="col-md-4 col-xs-12 col-sm-4">
							<div class="bgColor">
								<img src="images/about_img/3.jpg" alt="" >
							</div>
							<p class="text-dola text-big">$17.00</p>
							<p class="slider-text">Apple Cinnamon Detox Water</p>
						</li>
					</ul>
				</div>
				
					
					
	</div>
</body>
</html>