<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GoGreen</title>
	<link rel="stylesheet" href="stylesheets/shop.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/ajax.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header"></div>
		<div class="main">
			<div class="mainTop">
				<div class="miantopContent">
					<div class="content">
						<h2>Grid Shop</h2>
						<ul>
							<li><a href="javascript:;">Homepage</a></li>
							<span>|</span>
							<li class="right"><a href="javascript:;">Grid Shop</a></li>
						</ul>
					</div>
				</div>
				<div class="img"><img src="images/1.png" alt=""></div>
			</div>
			<div class="mainMain">
				<div class="mainMainLeft">
					<div class="leftTop">
						<div class="lefttopTop">
							<h3>Featured</h3>
							<a href="javascript:;">View Cart ></a>
						</div>
						<div class="lefttopBottom">
							<div class="lefttopBottomTop">
								<div class="top">
									<div class="topLeft"><a href="">×</a></div>
									<div class="topCenter">
										<a href="javascript:;">
											<img src="images/img_2.jpg" alt="">
											<div class="green" id="green_1"></div>
										</a>
									</div>
									<div class="topRight">
										<p class=c1>Orange and Raspberry Detox Water</p>
										<p class="c2">1 × $16.00</p>
									</div>
								</div>
								<div class="top">
									<div class="topLeft"><a href="">×</a></div>
									<div class="topCenter">
										<a href="javascript:;">
											<img src="images/img_3.jpg" alt="">
											<div class="green" id="green_2"></div>
										</a>
									</div>
									<div class="topRight">
										<p class=c1>Vitamin Tangy Detox Smoothies</p>
										<p class="c2">1 × $18.00</p>
									</div>
								</div>
							</div>
							<div class="lefttopBottomBottom">
								<span class="left">Subtotal:</span>
								<span class="right">$34.00</span>
							</div>
							<a href="javascript:;" class="kuang">CHECKOUT</a>
						</div>
					</div>
					<div class="leftMain1">
						<div class="leftmain1_Top">
							<h3>Categories</h3>
						</div>
						<ul>
							<li>
								<a href="javascript:;">
									<span>Detox Drinks</span>
									<i>></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>Detox Smoothies</span>
									<i>></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>Detox Tea</span>
									<i>></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span>Detox Waters</span>
									<i>></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="leftTop leftMain2">
						<div class="lefttopTop">
							<h3>Featured</h3>
						</div>
						<div class="lefttopBottom">
							<div class="lefttopBottomTop">
								<div class="top">
									<div class="topCenter">
										<a href="javascript:;">
											<img src="images/img_2.jpg" alt="">
											<div class="green"></div>
										</a>
									</div>
									<div class="topRight">
										<p class=c1>What is Mucoid Plaque in the colon?</p>
										<p class="c2">Oct 28, 2017</p>
									</div>
								</div>
								<div class="top">
									<div class="topCenter">
										<a href="javascript:;">
											<img src="images/img_3.jpg" alt="">
											<div class="green"></div>
										</a>
									</div>
									<div class="topRight">
										<p class=c1>What is Mucoid Plaque in the colon?</p>
										<p class="c2">Oct 28, 2017</p>
									</div>
								</div>
								<div class="top">
									<div class="topCenter">
										<a href="javascript:;">
											<img src="images/img_4.jpg" alt="">
											<div class="green"></div>
										</a>
									</div>
									<div class="topRight">
										<p class=c1>What is Mucoid Plaque in the colon?</p>
										<p class="c2">Oct 28, 2017</p>
									</div>
								</div>
								<div class="top">
									<div class="topCenter">
										<a href="javascript:;">
											<img src="images/img_5.jpg" alt="">
											<div class="green"></div>
										</a>
									</div>
									<div class="topRight">
										<p class=c1>What is Mucoid Plaque in the colon?</p>
										<p class="c2">Oct 28, 2017</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="leftBottom">
						<div class="img">
							<a href="javascript:;"><img src="images/3.png" alt=""></a>
							<h2>50% off on Detox Smoothies</h2>
							<a href="javascript:;" class="conter">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="mainMainRight">
					<div class="rightTop">
						<div class="righttopLeft">
							<div class="left">
								<select>
								  <option>Default Sorting</option>
								  <option>Default Sorting 1</option>
								</select>
							</div>
							<div class="left">
								<select class="form-control">
								  <option>12 items per page</option>
								  <option>13 items per page</option>
								</select>
							</div>
						</div>
						<div class="righttopRight">
							<div class="fl3" id="fl3">
								<a href="javascript:;">
									<img src="images/fllh.png" alt="">
								</a>
							</div>
							<div class="fl3 fl4">
								<a href="javascript:;">
									<img src="images/flh.png" alt="">
								</a>
							</div>
						</div>
					</div>
					<ul id="getli">
						<li class="getli">
							<img src="" alt="" class='img_1'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" >
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
						<li class="getli">
							<img src="" alt="" id='img'>
							<div class="content">
								<p class="content_1"></p>
								<p class="content_2"></p>
							</div>
						</li>
					</ul>
					<ul id="getul">
						<li>
							<div class="left"><img src="images/6.jpg" alt=""></div>
							<div class="right">
								<p class="content_1">$16.00</p>	
								<p class="content_2">Orange and Raspberry Detox Water</p>
								<p class="content_3">Cayenne can help your metabolism get going, and lemon will get your digestion in gear. Ginger helps to calm your digestive system, and is also deeply cleansing to the body. Put them all together and you’ve got a great detox water than you can drink anytime throughout the day.</p>
								<div class="content_4">
									<a href="javascript:void(0)" class="a">
										<img src="images/gwcl.png" alt="" class="img_gwcl">
										<img src="images/gwcb.png" alt="" style="display:none" class="img_gwcb">
									</a>
									<a href="javascript:void(0)" class="b">
										<img src="images/jtl.png" alt="" class="img_jtl">
										<img src="images/jtb.png" alt="" style="display:none" class="img_jtb">
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="left"><img src="images/1.jpg" alt=""></div>
							<div class="right">
								<p class="content_1">$20.00</p>	
								<p class="content_2">Vitamin Tangy Detox Water</p>
								<p class="content_3">Spring is a great time to detox, and this springtime strawberry detox water can help just about any detox program. It will help you stay hydrated as the weather starts to warm up, and is loaded with antioxidants from the strawberries as well as their signature flavor.</p>
								<div class="content_4">
									<a href="javascript:void(0)" class="a">
										<img src="images/gwcl.png" alt="" class="img_gwcl">
										<img src="images/gwcb.png" alt="" style="display:none" class="img_gwcb">
									</a>
									<a href="javascript:void(0)" class="b">
										<img src="images/jtl.png" alt="" class="img_jtl">
										<img src="images/jtb.png" alt="" style="display:none" class="img_jtb">
									</a>
								</div>
							</div>
						</li>
						<li>
							<div class="left"><img src="images/2.jpg" alt=""></div>
							<div class="right">
								<p class="content_1">$20.00</p>	
								<p class="content_2">Orange and Raspberry Detox Water</p>
								<p class="content_3">Spring is a great time to detox, and this springtime strawberry detox water can help just about any detox program. It will help you stay hydrated as the weather starts to warm up, and is loaded with antioxidants from the strawberries as well as their signature flavor.</p>
								<div class="content_4">
									<a href="javascript:;"><img src="images/gwcl.png" alt=""></a>
									<a href="javascript:;"><img src="images/jtl.png" alt=""></a>
								</div>
							</div>
						</li>
						<li>
							<div class="left"><img src="images/3.jpg" alt=""></div>
							<div class="right">
								<p class="content_1">$24.00</p>	
								<p class="content_2">Blueberry Kiwi Detox Water</p>
								<p class="content_3">Made with extra virgin olive oil, lemon juice, garlic, peeled ginger, orange juice, and cayenne pepper, this smoothie may sound a bit strange. But trust me, it actually tastes very good! And it’s made with raw ingredients and fats to help your live mop up toxins.</p>
								<div class="content_4">
									<a href="javascript:;"><img src="images/gwcl.png" alt=""></a>
									<a href="javascript:;"><img src="images/jtl.png" alt=""></a>
								</div>
							</div>
						</li>
						<li>
							<div class="left"><img src="images/4.jpg" alt=""></div>
							<div class="right">
								<p class="content_1">$16.00</p>	
								<p class="content_2">Orange and Raspberry Detox Water</p>
								<p class="content_3">Personally, I think water is a little boring, so I like to take summer drinks to the next level, improving their nutritional value and their flavor using healing spices and roots, fresh juices, and refreshing herbal teas.</p>
								<div class="content_4">
									<a href="javascript:;"><img src="images/gwcl.png" alt=""></a>
									<a href="javascript:;"><img src="images/jtl.png" alt=""></a>
								</div>
							</div>
						</li>
						<li>
							<div class="left"><img src="images/5.jpg" alt=""></div>
							<div class="right">
								<p class="content_1">$20.00</p>	
								<p class="content_2">Vitamin Tangy Detox Water</p>
								<p class="content_3">Cucumber water is a great first beverage for your day, helping to hydrate you and providing enzymes to get your digestive system started up. This lemon water recipes is upgraded with a bit of apple cider vinegar and cayenne pepper.</p>
								<div class="content_4">
									<a href="javascript:;"><img src="images/gwcl.png" alt=""></a>
									<a href="javascript:;"><img src="images/jtl.png" alt=""></a>
								</div>
							</div>
						</li>
					</ul>
					<div class="rightBottom">
						<div class="left">Show 12 items of 72 items</div>
						<div class="right">
							<ul>
								<li><a href="javascript:;"><<</a></li>
								<li><a href="javascript:;"><</a></li>
								<li><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
								<li><a href="javascript:;">3</a></li>
								<li><a href="javascript:;">></a></li>
								<li><a href="javascript:;">>></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="mainBottom"></div>

		</div>
		<div class="footer"></div>
	</div>
	<script src="javascripts/shop.js"></script>
</body>
</html>

