@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrap {
  width: 100%;
}
.wrap .main {
  width: 100%;
  margin-top: 74px;
}
.wrap .main .mainTop {
  width: 100%;
  height: 283px;
  background: url('../images/img_6.jpg') no-repeat center;
  position: relative;
  margin-bottom: 80px;
}
.wrap .main .mainTop .maintopContent {
  width: 100%;
  height: 283px;
  padding: 60px 0px 90px 0px;
}
.wrap .main .mainTop .maintopContent .content {
  width: 25%;
  height: 135px;
  padding: 30px 0px;
  margin: 0 auto;
  border-bottom: 1px dashed #fff;
  border-top: 1px dashed #fff;
  text-align: center;
}
.wrap .main .mainTop .maintopContent .content h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 0px;
}
.wrap .main .mainTop .maintopContent .content ul {
  width: 60%;
  margin: 0 auto;
}
.wrap .main .mainTop .maintopContent .content ul li {
  float: left;
}
.wrap .main .mainTop .maintopContent .content ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.wrap .main .mainTop .maintopContent .content ul span {
  color: #fff;
  font-size: 16px;
}
.wrap .main .mainTop .maintopContent .content ul .right {
  float: right;
}
.wrap .main .mainTop .img {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.wrap .main .mainTop .img img {
  width: 100%;
  display: block;
}
.wrap .main .mainMain {
  width: 100%;
}
.wrap .main .mainMain ul {
  display: fixed;
  margin-bottom: 80px;
}
.wrap .main .mainMain ul li {
  flex-grow: 1;
  background: url('../images/img_7.jpg') no-repeat center;
}
.wrap .main .mainMain ul li .content {
  width: 100%;
  height: 212px;
  padding: 50px 35px;
}
.wrap .main .mainMain ul li .content a {
  width: 100%;
  height: 31px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  line-height: 31px;
  color: #fff;
}
.wrap .main .mainMain ul li .content h3 {
  color: #fff;
  margin: 20px 0px 10px 0px;
  font-size: 16px;
  text-align: center;
}
.wrap .main .mainMain ul li .content p {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.wrap .main .mainMain ul li:hover > .content > a {
  margin-top: 5px;
}
.wrap .main .mainBottom {
  width: 100%;
  height: 550px;
  background: url('../images/img_8.jpg') no-repeat center;
}
.wrap .main .mainBottom .container {
  height: 390px;
  padding: 80px 0px;
}
.wrap .main .mainBottom .container .row {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
.wrap .main .mainBottom .container .row input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #474747;
  background: #fff;
  text-align: center;
  outline: none;
  margin-bottom: 10px;
}
.wrap .main .mainBottom .container .row textarea {
  width: 100%;
  height: 212px;
  padding: 20px;
  line-height: 50px;
  color: #474747;
  background: #fff;
  text-align: center;
  outline: none;
  margin-bottom: 10px;
  resize: none;
}
.wrap .main .mainBottom .container .row .button {
  border: 1px solid #125f06;
  background: #125f06;
  color: #fff;
}
.wrap .fixed {
  width: 40px;
  height: 40px;
  border: 2px solid #125F06;
  position: fixed;
  right: 20px;
  bottom: 100px;
  line-height: 40px;
  text-align: center;
  z-index: 99;
}
.wrap .fixed .a {
  display: block;
  width: 100%;
  height: 100%;
}