@charset "utf-8";
@font-face {
  src: url('../font/Dosis-Light.ttf');
  font-family: Dosis;
}
.header {
  width: 100%;
  height: 75px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  font-family: Dosis;
}
.header .row {
  width: 86.7%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.header .row div.row_left {
  width: 182px;
  height: 100%;
  float: left;
  line-height: 75px;
}
.header .row div.row_left img {
  vertical-align: middle;
}
.header .row div.row_right {
  height: 100%;
  float: right;
}
.header .row div.row_right ul {
  width: 100%;
  height: 100%;
}
.header .row div.row_right ul li {
  float: left;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Dosis', serif;
}
.header .row div.row_right ul li a {
  display: block;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 75px;
  color: #125F06;
  position: relative;
  text-decoration: none;
}
.header .row div.row_right ul li a::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #125f06;
  margin: 0 auto;
  transition: all 0.4s;
}
.header .row div.row_right ul li a:hover:before {
  content: "";
  width: 40px;
}
.header .row div.row_hamburger {
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 9999;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none;
}
.header .row div.row_hamburger div {
  width: 100%;
  height: 2px;
  background: #125f06;
  transition: all .5s;
}
.header .row div.row_hamburger div:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #125f06;
  transition: all .5s;
}
.header .row div.row_hamburger div:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #125f06;
  transition: all .5s;
}
.footer {
  width: 100%;
  height: 588px;
  font-family: Dosis;
}
.footer .footer_top {
  width: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  color: #474747;
}
.footer .footer_top .footerToprow {
  width: 86.7%;
  margin: 0 auto;
}
.footer .footer_top .footerToprow .footer_logo {
  text-align: center;
  margin-bottom: 80px;
}
.footer .footer_top .footerToprow .footer_text {
  width: 100%;
  display: -webkit-flex;
}
.footer .footer_top .footerToprow .footer_text > div {
  flex-grow: 1;
  padding: 0 15px;
}
.footer .footer_top .footerToprow .footer_text h3.title_text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #333;
}
.footer .footer_top .footerToprow .footer_text .ft1 {
  width: 33.3%;
  height: 215px;
}
.footer .footer_top .footerToprow .footer_text .ft1 p {
  margin-bottom: 50px;
  text-align: left;
  line-height: 24px;
  color: #474747;
  height: 120px;
  font-size: 16px;
}
.footer .footer_top .footerToprow .footer_text .ft1 ul li {
  width: 45px;
  height: 35px;
  float: left;
  padding-right: 10px;
}
.footer .footer_top .footerToprow .footer_text .ft2 {
  width: 33.3%;
  height: 224px;
}
.footer .footer_top .footerToprow .footer_text .ft2 div.main_time {
  position: relative;
  margin-bottom: 10px;
}
.footer .footer_top .footerToprow .footer_text .ft2 div.main_time:before {
  content: "";
  position: absolute;
  left: 25px;
  right: 0;
  bottom: 5px;
  width: 35%;
  height: 1px;
  border: 1px dashed #c5c5c5;
  margin: 0 auto;
}
.footer .footer_top .footerToprow .footer_text .ft2 div.main_time span {
  font-size: 16px;
}
.footer .footer_top .footerToprow .footer_text .ft2 div.main_time span.right {
  float: right;
}
.footer .footer_top .footerToprow .footer_text .ft2 h3.title_margin {
  margin-top: 50px;
}
.footer .footer_top .footerToprow .footer_text .ft2 form {
  width: 100%;
  height: 42px;
}
.footer .footer_top .footerToprow .footer_text .ft2 form .input_email {
  height: 40px;
  line-height: 40px;
  color: #757575;
  padding: 20px;
  width: 70%;
  float: left;
  border: 1px solid #b7b7b7;
  border-right: 0;
  box-sizing: border-box;
  outline: none;
}
.footer .footer_top .footerToprow .footer_text .ft2 form .input_submit {
  height: 42px;
  width: 30%;
  color: #fff;
  background-color: #125f06;
  transition: all 0.3s;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #125f06;
  font-size: 15px;
}
.footer .footer_top .footerToprow .footer_text .ft2 form .input_submit:hover {
  background: #fff;
  color: #125F06;
}
.footer .footer_top .footerToprow .footer_text .ft3 {
  width: 16.6%;
  height: 231px;
}
.footer .footer_top .footerToprow .footer_text p {
  line-height: 24px;
  margin-bottom: 10px;
  font-size: 15px;
}
.footer .footer_top .footerToprow .footer_text .ft4 {
  width: 16.6%;
  height: 231px;
}
.footer .footer_top .footerToprow .footer_text .ft4 p {
  transition: all 0.3s;
}
.footer .footer_top .footerToprow .footer_text .ft4 p:hover {
  -webkit-transform: translateX(10px);
}
.footer .footer_top .footerToprow .footer_text .ft4 p:hover a {
  color: #125F06;
}
.footer .footer_top .footerToprow .footer_text .ft4 a {
  color: #474747;
  transition: all 0.3s;
  text-decoration: none;
}
.footer .footer_bottom {
  width: 100%;
  height: 55px;
  background: #125f06;
  text-align: center;
  color: #fff;
  line-height: 55px;
}
@media screen and (max-width: 1023px) {
  .header > .row {
    width: 94%;
  }
  .header > .row div.row_left {
    float: none;
    margin: 0 auto;
  }
  .header > .row div.row_right {
    display: none;
  }
  .header > .row div.row_hamburger {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  div.footer > div.footer_top > div.footerToprow {
    width: 750px;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text {
    display: block;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text:after {
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div {
    float: left;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft1 {
    width: 50%;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft2 {
    width: 50%;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft2 h3.title_margin {
    margin-top: 100px;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft3 {
    width: 50%;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft4 {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  div.footer > div.footer_top > div.footerToprow {
    width: 100%;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text {
    display: block;
    text-align: center;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text:after {
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div {
    float: left;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft1 {
    width: 100%;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft1 p {
    text-align: center;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft2 {
    width: 100%;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft2 div.main_time {
    width: 100%;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft2 h3.title_margin {
    margin-top: 100px;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft2 span.left {
    float: left;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft3 {
    width: 50%;
  }
  div.footer > div.footer_top > div.footerToprow div.footer_text div.ft4 {
    width: 50%;
  }
}
