@charset"utf-8";
@font-face{
	src:url('../font/FrederickatheGreat-Regular.ttf');
	font-family:Fredericka the Great;
}
@font-face{
	src:url('../font/Dosis-Light.ttf');
	font-family:Dosis;
}
@img:'../images/index/';
html {
  box-sizing: border-box;font-family:Dosis;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.1;}
h3.title-small-bg-img{
	position:relative;font-size:30px;font-family:Fredericka the Great;color:#125f06;padding-bottom:20px;margin-bottom:40px;text-align: center;
	&:before{content: "";position: absolute;left: 0;right: 0;margin:0 auto;top:-40px;width:120px;height:50px;background:url('@{img}ct1.png') no-repeat center;}
	&:after{content: "";position: absolute;left: 0;right: 0;margin:0 auto;width:100px;height:1px;bottom:0px;background:url('@{img}bngreen.png');}
}
li{list-style:none;}
a{text-decoration:none;}
.wrap>.content{margin-top:75px;}
.wrap>.content>.banner{
	width:100%;height:808px;position:relative;
	&:before{content:"";position:absolute;left:0;bottom:0;width:100%;height:70px;background:url("@{img}bn1.png") no-repeat right/cover;z-index:3;}
	span{
		display:block;width:35px;height:90px;position:absolute;background-color: rgba(104, 98, 98, 0.5);top:41%;z-index:3;cursor: pointer;text-align:center;line-height: 90px;font-size:20px;font-family: 'slick';color:#fff;opacity:.75;
		&:hover{background:#244E18;}
	}
	span.button_left{left:30px;}
	span.button_right{right:30px;}
	div.banner_box{
		width:100%;height:100%;padding:280px 0;position:absolute;top:0px;display:none;
		div.banner_content{
			width:700px;height:100%;margin:0 auto;padding:50px 0;position:relative;
			&:before,&:after{content:"";position: absolute;left:0;right:0;width:70%;height:1px;margin:0 auto;background:url("@{img}bngreen.png");}
			&:before{content:"";top:-10px;}
			&:after{content:"";bottom:-10px;}
			h2,h3{font-size: 60px;font-family: 'Fredericka the Great', cursive;margin-bottom:20px;text-align:center;font-weight:500;line-height:1.1;}
			h3{font-size: 48px;margin-bottom: 10px;}
		}
	}
	div.banner1{
		background:url("@{img}banner1.jpg") center/cover;background-attachment:fixed;
		h2,h3{color:#125f06;}
	}
	div.banner2{
		background:url("@{img}banner2.jpg") center/cover;background-attachment:fixed;
		h2,h3{color:#fff;}
	}
	div.banner3{
		background:url("@{img}banner3.jpg") center/cover;background-attachment:fixed;
		h2,h3{color:#fff;}
	}
}
.wrap>.content>.home{
	width:100%;height:1243px;margin-bottom:220px;
	.home_glamorous{
		width:85.6%;height:auto;margin:0 auto;
		.title-small-contact{color:#125f06;font-size: 18px;font-weight:bold;margin-bottom:60px;line-height:24px;}
		.wraper-our-success{
			width:100%;height:449px;padding-left:40px;margin-bottom: 150px;
			.content-our-success{
				width:100%;height:100%;padding:60px 0;box-shadow: 0 5px 5px #c2c2c2;position:relative;display:-webkit-flex;
				div.contentLeft{
					flex-grow:1;width:41.6%;
					img{width:100%;}
					.content_green{
						border:20px solid #125f06;position:absolute;width:490px;height:490px;top:20px;left:-40px;
						a{
							display:block;position:relative;
							// &:before{content:"";display:block;padding-top: 110%;}
							&:after{content:"";position:absolute;margin:0 auto;width:100%;height:100%;top:0;left:0;bottom: 0;background:#125f06;opacity:0.5;z-index:2;transition:all .4s;transform:scale(1,0);}
							&:hover:after{content:"";transform:scale(1,1);}
						}
					}
				}
				div.contentRight{
					flex-grow:1;width:58.4%;padding:0 105px 0 95px;text-align:center;
					p.text-success{margin-bottom: 50px;margin-bottom: 50px;text-align:center;line-height:24px;color:#125f06;}
					a.btn-gogreen{color:#125f06;display:inline-block;border: 1px dashed #125f06;padding:7px 25px;border-radius: 10px;position:relative;transition:all .4s;z-index:4;text-align:center;
						&:hover{color:#fff;background:#125f06;}
					}
				}
			}
		}
		h3.title_glamorous{font-size: 24px;color:#125f06;font-family: 'Fredericka the Great';text-align:center;margin-bottom:70px;}
		div.main_glamorous{
			width:100%;
			div.mG_branch{
				width:33.3%;padding:0 30px;margin-bottom:70px;float:left;
				div{
					margin:0 auto;position:relative;width:70px;height:85px;margin-bottom: 10px;
					img{transition:all .4s;}
					&:before{content:"";position:absolute;width:70%;margin:0 auto;left:0;bottom:0;right:0;height:15px;background:#125f06;border-radius:50%;opacity:0.5;transform:scale(1,0);transition:all .4s;}
					// &:hover:before{content: "";transform:scale(1,1);}
				}
				&:hover div>img{transform:translateY(-10px);}
				&:hover div:before{content: "";transform:scale(1,1);}
				a{display:block;font-size: 18px;font-weight:bold;color:#125f06;margin-bottom: 10px;line-height:1.1;text-align:center;}
				p{text-align:center;color: #333;line-height:24px;}
			}
		}
	}
}
.wrap>.content>.product{
	width:100%;height:1205px;position:relative;background:url('@{img}bg1.jpg') no-repeat center/cover;background-attachment:fixed;padding-bottom:180px;margin-bottom:80px;
	&:before{content:'';position:absolute;left:0;right:0;top:0;width:100%;height:170px;background:url('@{img}bg2.png') no-repeat center/cover;}
	&:after{content:'';position:absolute;left:0;right:0;bottom:0;width:100%;height:170px;background:url('@{img}bg3.png') no-repeat center/cover;}
	div.product_container{
		width:1170px;height:1025px;margin:0 auto;
		div.wraper-our-success{
			width:100%;padding-right: 40px;margin-bottom:100px;position: relative;height: 419px;
			div.content-our-success{
				background:#fff;width:1130px;padding:80px 0 90px;box-shadow: 0 5px 5px #c2c2c2;position:absolute;top:-30px;display:-webkit-flex;
				div.contentLeft{
						flex-grow:1;width:41.6%;
						img{width:100%;position:absolute;top:-45px;}
						.content_green{
							border:20px solid #125f06;position:absolute;width:490px;height:490px;top:-80px;right:-40px;
							a{
								display:block;position:relative;
								&:before{content:"";display:block;padding-top: 110%;}
								&:after{content:"";position:absolute;margin:0 auto;width:100%;height:100%;top:-45px;left:0;bottom: 0;background:#125f06;opacity:0.5;z-index:2;transition:all .4s;transform:scale(1,0);}
								&:hover:after{content:"";transform:scale(1,1);}
							}
						}
					}
				div.contentRight{
					flex-grow:1;width:53.4%;padding:0 105px 0 95px;text-align:center;
					p.text-success{margin-bottom: 50px;margin-bottom: 50px;text-align:center;line-height:24px;color:#125f06;}
					a.btn-gogreen{color:#125f06;display:inline-block;border: 1px dashed #125f06;padding:7px 25px;border-radius: 10px;position:relative;transition:all .4s;z-index:4;text-align:center;
						&:hover{color:#fff;background:#125f06;}
					}
				}
			}
		}
		div.best_product{
			width:100%;
			h3.bestH3{color:#fff;}
			div.best_banner{
				width:1200px;position:relative;height:405px;margin:0 -15px;
				button{
					width:40px;height:40px;color:#838383;background:#fff;z-index:222;position:absolute;top:40%;transition:all .3s ease;border:none;cursor: pointer;
					&:hover{background:#125f06;color:#fff;}
				}
				.button_Previous{
					&:before{content:'<';font-size:20px;line-height:1;font-family:FontAwesome;opacity:.75;}
					left:-5px;
				}
				.button_Next{
					&:before{content:'>';font-size:20px;line-height:1;font-family:FontAwesome;opacity:.75;}
					right:-5px;
				}
				div.banner_wrap{
					width:100%;height:100%;overflow:hidden;position: relative;
					div.best_banner_content{
						width:3600px;height:100%;position:absolute;left:-1200px;
						div.slider{
							width:270px;height:100%;margin:0 15px;float:left;
							div.img{
								width:100%;margin-bottom:25px;position:relative;
								img{width:100%;}
								&:before{content:"";position:absolute;margin:0 auto;width:100%;height:100%;left:0;bottom: 0;background:#666;opacity:0.3;z-index:2;transition:all .4s;transform:scale(1,0);}
								&:hover:before{content:'';transform:scale(1,1);box-shadow:-10px 10px 0px #0D4005;}
							}
							p.slider_money{color:#fff;margin-bottom:10px;line-height:24px;}
							p.slider_text{color:#fff;font-weight:bold;font-size: 18px;}
						}
					}
				}
				
			}
		}
	}
}
.wrap>.content>.special{
	width:100%;height:623px;margin-bottom:80px;
	div.special_wrap{
		width:1170px;margin:0 auto;padding:0 15px;
		.wrap_one{
			width:100%;height:100%;margin:0 -15px;
			.wrap_two{
				div.special_main{
					width:100%;position:relative;
					div.special_img{
						position:relative;padding-left:20px;padding-bottom: 20px;
						&:before{content:'';position:absolute;width:60%;height:40%;left:0px; bottom:0;background:#125f06;}
						a{
							display:block;position:relative;width:780px;height:510px;overflow:hidden;transition: all .3s;
							img{position:absolute;width:100%;top:0;left:50%;transform:translateX(-50%);}
							&:after{content:"";position:absolute;margin:0 auto;width:100%;height:100%;top:0;left:0;bottom: 0;background:#125f06;opacity:0.5;transition:all .4s;transform:scale(1,0);}
							&:hover:after{content:"";transform:scale(1,1);}
						}
					}
					div.special_right{
						position:absolute;right:0px;top:0px;height:100%;width:475px;z-index:33;
						div.special_tea{
							height:100%;display:table;
							div.tea_detail{
								display:table-cell;vertical-align: middle;
								div.main_tea{
									padding: 70px 50px;box-shadow: 0 5px 5px #c2c2c2;position:relative;background:#fff;
									&:before{content:"";position:absolute;width:60%;height:60%;background:#125f06;z-index:-1;top:-15px;right:-15px;}
									h3.title_tea{font-size:24px;margin-bottom: 30px;}
									p.text_tea{margin-bottom: 40px;line-height:24px;}
									p.money_tea{font-size:24px;}
								}
							}
						}
					}
				}
			}
		}
	}
}
.wrap>.content>.weekend{
	width:100%;height:686px;background:url('@{img}bg4.jpg') no-repeat center/cover;background-attachment:fixed;padding:150px 0;position:relative;margin-bottom:80px;
	&:before{content:'';background:url('@{img}bg5.png') no-repeat center/cover;position:absolute;left:0;top:0;width:100%;height:170px;}
	&:after{content:'';background:url('@{img}bg6.png') no-repeat center/cover;position:absolute;left:0;bottom:0;width:100%;height:170px;}
	div.weekend_main{
		width:51.4%;height:100%;margin:0 auto;padding: 80px 100px 70px;text-align: center;background:#fff;
		p.smallTitle_weekend{font-size:30px;color:#1d1d1d;margin-bottom: 10px;}
		h2{font-size:36px;color:#125F06;font-weight:bold;margin-bottom:25px;}
		p.text_weekend{color:#464646;margin-bottom: 40px;}
		a.btn_gogreen{
			color: #125f06;border: 1px dashed #125f06;padding: 7px 25px;border-radius: 10px;display: inline-block;position: relative;transition: all 0.4s ease;z-index:22;
			&:hover{background:#125f06;color:#fff;}
		}
	}
}
.wrap>.content>.events{
	width:100%;margin-bottom:80px;
	div.events_wrap{
		width:1170px;margin:0 auto;text-align:center;
		div.events_main{
			width:100%;display:-webkit-flex;margin-bottom:50px;
			div.events_mid{
				flex-grow:1;padding:0 15px;
				div.img{
					position:relative;transition:all .4s;margin-bottom:25px;
					img{width:100%;}
					&:hover{box-shadow:-10px 10px 0px #125f06;}
					a{
						display:block;position:relative;
						&:before{content:"";position:absolute;margin:0 auto;width:100%;height:100%;left:0;bottom: 0;background:#125f06;transition:all .4s;opacity:.5;transform:scale(1,0);}
						&:hover:before{content:"";transform:scale(1,1);}
						img{display:block;}
					}
				}
				a.title_events{
					display:block;margin-bottom:15px;font-size:18px;color:#333;font-weight:bold;transition: all .4s;
					&:hover{color:#125f06;}
				}
				p.date_events{color:#898989;margin-bottom: 15px;}
				p.text_events{color:#898989;}
			}
		}
		a.btn_gogreen{
			color: #125f06;border: 1px dashed #125f06;padding: 7px 25px;border-radius: 10px;display: inline-block;transition: all 0.4s ease;z-index:22;margin:0 auto;
			&:hover{background:#125f06;color:#fff;}
		}
	}
}
.wrap>.content>.bottomPicture{
	width:100%;
	ul{
		width:100%;display:-webkit-flex;
		li{
			flex-grow:1;
			img{width:100%;}
		}
	}
}
@media screen and (max-width:1227px){
	.wrap>.content>.product>div.product_container{
		width:970px;
		div.wraper-our-success>div.content-our-success{
			width:930px;height:473px;
			div.contentLeft{
				.content_green{right:-80px;}
			}
		}
		div.best_product>div.best_banner{
			width:1000px;
			div.banner_wrap{
				div.best_banner_content{
					width:3000px;left:-1000px;
					div.slider{
						width:220px;
					}
				}
			}
		}
	}
	.wrap>.content>.special{
		div.special_wrap{
			width:970px;
		}
	}
	.wrap>.content>.events{
		div.events_wrap{
			width:970px;
		}
	}
}
@media screen and (max-width:1070px){
	.wrap>.content>.product>div.product_container>div.wraper-our-success>div.content-our-success div.contentLeft{
		.content_green{right:-40px;}
	}	
}
@media screen and (max-width:1027px){
	div.wrap>div.content>div.banner{
	 	height:650px;
		div.banner_box{padding:200px 0;}
	}
	.wrap>.content>.home>.home_glamorous .wraper-our-success .contentLeft{display:none;}
	.wrap>.content>.product>div.product_container{
		width:750px;
		div.wraper-our-success>div.content-our-success{
			width:750px;height:426px;
			div.contentLeft{
				display:none;
			}
		}
		div.best_product>div.best_banner{
			width:780px;
			button{top:20%;}
			div.banner_wrap{
				div.best_banner_content{
					width:2340px;left:-780px;
					div.slider{
						width:165px;
					}

				}
			}
		}
	}
	.wrap>.content>.special>.special_wrap>.wrap_one>.wrap_two>.special_main{
		div.special_img{
			width:100%;
		}
		div.special_right{
			top:50%;left:50%;margin-left:-237px;
		}
	}
	.wrap>.content>.special{
		div.special_wrap{
			width:100%;padding:0 20px;
			div.wrap_one{
				margin:0 0;
				div.wrap_two>div.special_main>div.special_img>a{width:100%;}
			}
		}
	}
	.wrap>.content>.events{
		div.events_wrap{
			width:750px;
		}
	}
}
@media screen and (max-width:850px){
	div.wrap>div.content>div.weekend{
		p.text_weekend{display:none;}
	}
}
@media screen and (max-width:810px){
  	div.wrap>div.content>div.banner{height:420px;
	  	div.banner_box{
	  		padding:100px 0;
			div.banner_content{
				width:480px;
				h2{font-size:45px}
				h3{font-size:35px}
			}
	  	}
	}
	.wrap>.content>.product>div.product_container{
		width:100%;padding:0 15px;
		div.wraper-our-success>div.content-our-success{
			width:100%;
			div.contentLeft{
				display:none;
			}
		}
		div.best_product>div.best_banner{
			width:660px;margin:0 auto;
			button{top:40%;}
			div.banner_wrap{
				div.best_banner_content{
					width:3600px;left:-660px;
					div.slider{
						width:300px;
					}

				}
			}
		}
	}	
}
@media screen and (max-width:770px){
	.wrap>.content>.events{
		div.events_wrap{
			width:100%;padding:0 10px;
			p.text_events{display:none;}
		}
	}
}
@media screen and (max-width:720px){
	div.wrap>div.content>div.home>div.home_glamorous>div.main_glamorous{
		div.mG_branch{
			width:100%;
		}
	}
}