<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/about.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
</head>
	<div class="AboutUs">
		<div class="banner_text">
			<h2>About Us</h2>
			<p><a href="#">Homepage</a>丨<a href="#">About Us</a></p>
		</div>
	
		<img src="images/about_img/about_sub_bg.png" alt="" class="aboutImgBg">
	</div>
	<div class="content wrap">
			<div class="sideBar">
				<div class="sideBar_left fl">
					<div class="img">
						<img src="images/about_img/video.jpg" alt="">
					</div>
					<div class="top" id="top"></div>
					<div class="sub" id="sub"></div>
				</div>
				<div class="sideBar_right fl" id="sideBar_right">
					<b></b>
					<h3>Our Story of Success</h3>
					<i></i>
					<p id="text">Detox waters are all the rage now, and for good reason. Your body needs to be well hydrated at all times, and this is especially true when you’re on a detox. Proper water intake insures you’re flushing away released toxins, and helps your internal organs function in top form. For an ideal lemon water detox, no weight-loss elixir can compare to this zesty potion.</p>
					<strong>
						“The type of weight you lose more important than just general weight loss ”
					</strong>
					<p>Lose the fat while keeping your muscles strong with these fat burning detox waters. They’re specifically created to target fat burning while keeping you well hydrated, alert, and ready for the day.</p>
				</div>
			</div>
			<div class="column container" >
				<ul class="row" >
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img src="images/about_img/1.png" alt=""></div>
						<a href="#">100% Natural</a>
						<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img src="images/about_img/2.png" alt=""></div>
						<a href="#">Organic Products</a>
						<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img src="images/about_img/3.png" alt=""></div>
						<a href="#">Healthy Foods</a>
						<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img src="images/about_img/4.png" alt=""></div>
						<a href="#">Diet for body</a>
						<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img src="images/about_img/5.png" alt=""></div>
						<a href="#">beauty skin</a>
						<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
					</li>
					<li class="col-md-4 col-sm-6">
						<div class="pic"><img src="images/about_img/6.png" alt=""></div>
						<a href="#">good taste</a>
						<p>Lorem ipsum dolor sit amet, consectetuery adipiscing elit, sed diam nonummy nibhumils euismod tincidunt ut laoreet.</p>
					</li>
				</ul>
			</div>
	</div>
	<div class="peopleShow">
			<div class="pic pic1">
				<img src="images/about_img/show1.png" alt="">
			</div>	
			<div class="peopleCon container" id="peopleCon">
				<div class="row">
					<div class="col-xs-11 content">
							<ul  id="peopleDes">
								<li><div><img src="images/about_img/t1.jpg" alt=""></div></li>
								<li><div><img src="images/about_img/t2.jpg" alt=""></div></li>
								<li >
									<img src="images/about_img/t1.jpg" alt="" id="ative">
									<h3>John Francis Doe</h3>
									<h4>BARTENDER</h4>
									<ul>
										<li><a href="#"><i class=" icon-facebook"></i></a></li>
										<li><a href="#"><i class=" icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-google-plus"></i></a></li>
									</ul>
								</li>
								<li><div><img src="images/about_img/t2.jpg" alt=""></div></li>
								<li><div><img src="images/about_img/t3.jpg" alt=""></div></li>
							</ul>
						<a href="#" class="prev btnS" id="prev"><</a>
						<a href="#" class="next btnS" id="next">></a>
					</div>
				</div>
			</div>
			<div class="pic pic2">
				<img src="images/about_img/show2.png" alt="">
			</div>
	</div>
	
</body>
</html>