<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>contact</title>
	<link rel="stylesheet" href="stylesheets/contact.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="bootstrap/css/font-awesome.min.css"> -->
	<script src="javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header"></div>
		<div class="main ">
			<div class="mainTop">
				<div class="maintopContent">
					<div class="content">
						<h2>Contact Us</h2>
						<ul>
							<li><a href="#">Homepage</a></li>
							<span>|</span>
							<li class="right"><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="img"><img src="images/1.png" alt=""></div>
			</div>
			<div class="mainMain ">
				<ul class="container">
					<li class="col-md-3 col-sm-3">
						<div class="content">
							<a href="#" class="glyphicon glyphicon-heart-empty">
							</a>
							<h3>Address</h3>
							<p>49 West 32nd Street, New York</p>
						</div>
					</li>
					<li class="col-md-3 col-md-3">
						<div class="content">
							<a href="#" class="glyphicon glyphicon-earphone">
							</a>
							<h3>Phone Number</h3>
							<p>123-456-7890</p>
						</div>
					</li>
					<li class="col-md-3 col-md-3">
						<div class="content">
							<a href="#" class="glyphicon glyphicon-envelope">
							</a>
							<h3>Email Address</h3>
							<p>Info@gogreen.com</p>
						</div>
					</li>
					<li class="col-md-3 col-md-3">
						<div class="content">
							<a href="#" class="glyphicon glyphicon-tree-conifer">
							</a>
							<h3>Free Support</h3>
							<p>We provide 24/7 support</p>
						</div>
					</li>
				</ul>
				<div class="mainmain_Bottom"></div>
			</div>
			<div class="mainBottom">
				<div class="container">
					<div class="row ">
						<input type="text" placeholder="First name" >
						<input type="text" placeholder="Email address" >
						<textarea name="textarea " id="textarea " placeholder="Write message"></textarea>
						<input type="button" value="Send Message" class="button">
					</div>
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</div>
</body>
</html>